:root {
    --color-barra: rgb(43, 43, 49);
    --color-fondo: rgb(13, 36, 56);
    --color-btn-menu: rgb(23, 61, 95);
    --color-btn: green;
}

* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.barra {
    background-color: var(--color-barra);
    height: 2rem;
    display: flex;
    flex-direction: row;
}

.icono {
    width: 2rem;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.fondo-verde {
    background-color: var(--color-btn);
}

.blanco {
    color: rgb(182, 182, 182);
}

.xataka-header {
    background-color: var(--color-fondo);
    height: 8rem;
    display: flex;
    flex-direction: row;
}

.btn-header {
    color: white;
    width: 8rem;
    height: 8rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 0.3rem;
    cursor: pointer;
    transition: 0.5s ease;
}

.btn-header:hover {
    background-color: var(--color-btn-menu);
}

.imagen-xataka {
    position: absolute;
    left: 0;
    top: 9%;
    right: 0;
    margin: auto;
    width: 10rem;
    height: 5rem;
    background-image: url("./images/albo-en-xataka.png");
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 1;
}


.barra-pequeña {
    height: 0.3rem;
}

.header-gris {
    width: 100%;
    height: 5rem;
    background-color: #434b54;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    color: #969ba3;
}

.header-gris ul {
    margin-right: 5%;
}

.header-gris li {
    display: inline-block;
    color: white;
}


.container {
    margin-left: 10%;

}

#imagen {
    margin-top: 2rem;
    margin-bottom: 1rem;
    height: 23rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel {

    width: 75vw;
    height: 100%;
    overflow: hidden;
    background: url("images/Guia-KaiSa-utilizar-nueva-campeona_1114998544_57627_1440x600.jpg");
    background-size: contain;
    background-repeat: no-repeat;
}

.caja {
    margin: 3%;
    width: 5rem;
    height: 5rem;
}