:root {
    --color-barra: rgb(43, 43, 49);
    --color-fondo: rgb(13, 36, 56);
    --color-btn-menu: rgb(23, 61, 95);
    --color-btn: green;
}


.barra {
    background-color: var(--color-barra);
    height: 2rem;
    display: flex;
    flex-direction: row;
}

.icono {
    width: 2rem;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.fondo-verde {
    background-color: var(--color-btn);
}

.blanco {
    color: rgb(182, 182, 182);
}

.xataka-header {
    background-color: var(--color-fondo);
    height: 8rem;
    display: flex;
    flex-direction: row;
}

.btn-header {
    color: white;
    width: 8rem;
    height: 8rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 0.3rem;
    cursor: pointer;
    transition: 0.5s ease;
}

.btn-header:hover {
    background-color: var(--color-btn-menu);
}